<mat-toolbar color="primary" class="navbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 routerLink="/">TIENDA GAMER</h1>
    <button routerLink="/checkout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon  routerLinkActive="router-link-active" matBadge={{cartItems}} matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
